:root {
    color-scheme: light dark;
    scroll-behavior: smooth;

    /* color palettes   */
  
    /* dark mode */
    --main-font: rgba(255, 255, 255, 0.87);
    --main-back-color1: #171717;
    --main-back-color2: #202020;
    --accent1: #d7d7d7;
    --accent2:  #3396cc;
    --accent3:  #3396cc73;

    --button-color: hsl(271, 36%, 17%);
  
    /* light mode */
  
    --main-font-light: #213547;
    --main-back-color-light: #ffffff;
    --link-hover-light: #747bff;
    --button-color-light: #f9f9f9;
    --backdrop-light: rgba(0, 0, 0, 0.07);


    /* side margin for the whole app */
    --side-margin: 15%;
    
    color: var(--main-font);
    background: linear-gradient(var(--main-back-color1),var(--main-back-color2));


    /* font style */

    font-family:  Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  
}

html{
    margin:0;

}

body{
    
    margin:0;
    padding: 0;
    min-height: 100vh;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}



@media(max-width:1920px) {
    body{
        font-size: 1rem;
    }
    
}

@media(max-width:1024px) {
    body{
        font-size: .9rem;
    }
    
}

main{
    margin: 0 var(--side-margin);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    margin: auto auto;
}



h1{
    padding-left: .2em;
    margin: 0 var(--side-margin);

}

#header_hr{
    margin: 0;
    margin-bottom: 0;
    border: 1px solid var(--accent3)
}

hr:last-of-type{
    margin: 8vh auto;
    margin-bottom: 4vh;
    border: 1px solid var(--accent3)
}

footer{
    width: 100%;
    margin-top: auto;
}


footer>center{
    margin: 2.5vh auto;
}

a{
    text-decoration: none;
    color: var(--main-font)
}

header{
    width: 100%;
}


.nav{
    margin: 0 var(--side-margin);
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;

}

.nav>div{
    display: flex;
    flex-direction: row;
    gap: 1vh
}

.nav-item, .nav-item2{
    
    margin:0;
    padding: .5em .5em;
    list-style-type: none;
    

}

.nav-item:hover{
    border-radius: 10px;
    background-color: var(--accent1)
}

.nav-item:hover .nav-link{
    font-weight: 600;
    color: var(--main-back-color1)

}

.nav-link, .nav-link2{
    
    height: 100%;
    width: 100%;
    font-weight: 600;
}

#cat_bar{
    padding: 1em;
    margin: 0 var(--side-margin);
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;
    list-style-type: none;

}

#cat_bar>li>a:hover{
    text-decoration: underline;
    color: var(--accent2)
}

/* #carrousel{
    overflow: hidden;

}

.slide{
    height: 200px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    


}

.carrousel_item{

    height: 100%;
    width: 100%;
    flex-shrink: 0;

}

#carrousel_item1{
    background-color: #213547;

}

#carrousel_item2{
    background-color: #72642a;
    
}
#carrousel_item3{
    background-color: #36722a;
    
}


.first{
    margin-left: -100%;
}

.carrousel_card{
    
    height: 100%;
}

/* .carrousel_arrows{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--main-font);
    font-size: 3vh;

} */

/* .carrousel_arrows>#arrow1{
    padding-left: 2vh;
}

.carrousel_arrows>#arrow2{
    padding-right: 2vh;
}  */



.listing{
    
    margin: 5vh auto;
    padding: 1vh;
    width:95%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    border: 1px solid var(--accent3);
    border-radius: 8px;
    transition: width .5s;

}


.listing>center>img{
    width: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;

}

.listing:hover{
    cursor: pointer;
    width: 97%;

}


#component{
    margin: 1vh;
    width: 100%;
    overflow-x:auto;
    

}

.component_title{
    display: flex;
    align-items:baseline;
    gap: 1rem;
}

.component_body{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    gap: 1rem;
    cursor:pointer;

    
}

.component_item>img{
    box-sizing: border-box;
    width: 15vh;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit:cover 
       

}

.component_item:hover>img{
    border: 2px solid var(--accent3);  

}

.component_item:hover>p{
    text-decoration: underline;

}

#create{
    width: 80%;
    display: grid;
    grid-template-columns: .5fr 2fr;
    column-gap: 1em;
    justify-content: center;
    align-items: center;
}

#create>label{
    font-size: 1rem;
    text-align: left;
}

#create>input, #create>select, #create>textarea{
    margin: .5em 0;
    width: 90%;
    text-align: left;
}

#create>textarea{
    max-height: 50%;
    resize: none;
}


#create>input[type="submit"]{
    width: 60%;
    margin: .8em auto;
    border: none;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: var(--accent3);
}

#create>input[type="submit"]:hover{

    background-color: rgb(24, 86, 143);
   
}



/* ----------------------------------------- LOGIN PAGE -----------------------------------------*/

h2{
    font-size: 1.8rem;
    text-align: center;
    
}
form{
    width: 100%;
    text-align: center;
    padding: 1em;


}

input, select, textarea{
    font-size: 1rem;
    width: 80%;
    margin: 1em;
    padding: .7em;
    border: 1px solid var(--accent2);
    border-radius: 10px;
    
}

input[type="submit"]{
    border: none;
    background-color: var(--accent3);
}
input[type="submit"]:hover{

    background-color: rgb(24, 86, 143);
}

#register{
    color: var(--accent2)
}

/* ----------------------------------------- Watchlist -----------------------------------------*/


.watchlist{
    
    margin: 5vh auto;
    padding: 1vh;
    scale: 100%;
    display: grid;
    column-gap: 2em;
    grid-template-columns: 1fr 2fr;
    border: 1px solid var(--accent3);
    border-radius: 8px;
    transition: scale .5s;

}

.watchlist>center>img{
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;

}

.watchlist:hover{
    cursor: pointer;
    scale: 105%;

}


/* ----------------------------------------- Product -----------------------------------------*/


.item{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    
}

.item_title{
    margin: 0;
    text-align: left;
}

.item_main_pic{
    width: 50%;
    object-fit:scale-down

}

.item_actions>h3{
    margin: 0;

    text-align: center;
    font-size: 1.3rem;
}

.item_actions>ul{
    padding: 0;
}

.item_actions>ul>li{
    list-style-type: none;
}

.item_actions>form{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item_actions>form>input{
    align-self: flex-start;
    margin: .5em;
    margin-left:0;
    width: 70%;
}

.item_actions>form>label{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    align-self: flex-start;
}

.item_descr{
    align-self: flex-start;
}




.comment_form>form>input{
    width: 20%;
}



.comment_form>form>textarea{
    max-height: 50%;
    resize: none;
}


.comments{
    width: 70%;
}

.comments>ul{
    padding:0
}

.comments>ul>li{
    width: 100%;
    margin: .5em auto;
    list-style-type: none;
    background-color: var(--accent3);
}

/* ----------------------------------------- Categories -----------------------------------------*/

#main_grid{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none; /* Remove bullets */
    text-align: center;
    gap: 2em;
    padding: 0; 
    margin-top: 2.1vh; 
  
}

#main_grid >a>div{
    box-sizing: border-box;
    border: 1px solid var(--main-back-color1);
    padding: .5em;
    scale:100%;  
    color: var(--main-font);
    transition: scale 0.5s, color 0.5s;
}

#main_grid >a>div:hover{
    cursor:pointer;
    scale:105%;

}
#main_grid >a>div:hover>div>.icon{
    scale:105%;

}

#main_grid >a>div:hover{
    border: 1px solid var(--accent2);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--accent2);
    color: var(--accent2);
}

#main_grid >a>div>div>i{
    font-size: 5rem;
    
}

.category_title{
    margin: 0.5em auto
}

/* ----------------------------------------- Search -----------------------------------------*/

#search_container{
    margin: auto var(--side-margin);
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    width: 8%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-right: 1.5em;

}

#search_form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    
}

#search_form>input{
    margin: 1em .5em;
    width: 50%;
    
}

#search_form>input[type="submit"]{
    width: 10%;
    
}
