:root {
    box-sizing: border-box;
    color-scheme: light dark;
    scroll-behavior: smooth;

    /* color palettes   */
  
    /* dark mode */
    --main-font: rgba(255, 255, 255, 0.87);
    --main-back-color1: #171717;
    --main-back-color2: #202020;
    --accent1: #d7d7d7;
    --accent2:  #3396cc;
    --accent3:  #3396cc73;

    --button-color: hsl(271, 36%, 17%);
  
    /* light mode */
  
    --main-font-light: #213547;
    --main-back-color-light: #ffffff;
    --link-hover-light: #747bff;
    --button-color-light: #f9f9f9;
    --backdrop-light: rgba(0, 0, 0, 0.07);

    
    color: var(--main-font);
    background: linear-gradient(var(--main-back-color1),var(--main-back-color2));


    /* font style */

    font-family:  Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  
}

html{
    margin:0;

}

body{
    margin:0;
  
}



h1{
    margin: 0;
    padding: 0 3vh;
    font-size: 5vh;

}

hr{
    margin: 1vh;
    border: 1px solid var(--accent3)
}



footer>center{
    margin-top: 2.5vh;
}

a{
    text-decoration: none;
    color: var(--main-font)
}


.nav{
    margin-top: 0;
    padding: 0 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    border-bottom: 1px solid var(--accent3);

}

.nav>div{
    display: flex;
    flex-direction: row;
    gap: 1vh
}

.nav-item, .nav-item2{
    
    margin:0;
    padding: 1vh 1vh;
    list-style-type: none;
    font-size: 1.8vh;

}

.nav-item:hover{
    border-radius: 10px;
    background-color: var(--accent1)
}

.nav-item:hover .nav-link{
    font-weight: 600;
    color: var(--main-back-color1)

}

.nav-link, .nav-link2{
    
    height: 100%;
    width: 100%;
    font-weight: 600;
}


.listing{
    
    margin: 5vh auto;
    padding: 1vh;
    width:80%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 1px solid var(--accent3);
    border-radius: 8px;
    transition: width .5s;

}


.listing>center>img{
    width: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;

}

.listing:hover{
    cursor: pointer;
    width: 82%;

}


#component{
    margin: 1vh auto;
    width: 70%;
    overflow-x:auto;
    font-size: 2vh;

}

.component_title{
    display: flex;
    align-items:baseline;
    gap: 1rem;
}

.component_body{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    gap: 1rem;
    cursor:pointer;

    
}

.component_item>img{
    box-sizing: border-box;
    width: 15vh;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit:cover 
       

}

.component_item:hover>img{
    border: 2px solid var(--accent3);  

}

.component_item:hover>p{
    text-decoration: underline;

}