{% extends "auctions/layout.html" %}

{% block title %}Auctions | Categories {% endblock %}

{% block body %}
    <h2 class="category_title">Categories:</h2>

    <p>Please choose from one of this categories!</p>

    <ul id="main_grid">
    
    {% for i in categories %}

        

        <a href="categories/{{i.0}}">
            <div>
                <div>
                    <i class="fa-solid fa-shirt"></i>
                </div>
                <li id="exercise_tracker">{{i.1}}</li>
            </div>
        </a>

    
    
    {% endfor %}

    </ul>
    
    <!-- <i class="fa-solid fa-house-chimney"></i>
    <i class="fa-solid fa-bath"></i>
    <i class="fa-solid fa-martini-glass"></i>
    <i class="fa-solid fa-dumbbell"></i>
    <i class="fa-solid fa-dog"></i> -->

{% endblock %}