{% extends "auctions/layout.html" %}

{% block body %}
    <section>

        {% comment %} <div id = "carrousel">
            <div class = "slide">
                <div class = "carrousel_item first" id = "carrousel_item1">
                    <div class = "carrousel_card">A</div>
                </div>
                <div class = "carrousel_item" id = "carrousel_item2">
                    <div class = "carrousel_card">B</div>
                </div>
                <div class = "carrousel_item" id = "carrousel_item3">
                    <div class = "carrousel_card">C</div>
                </div>
            </div>
        </div> {% endcomment %}

        {% for i in product_list %}

        <a href="{% url 'item' i.id %}">
            <div class="listing">

                {% if i.image %}
                <center>
                    <img src={{i.image}} alt={{i.title}}></img>
                </center>
                {% endif %}
                <div class="listing-desc">
                    <h3>{{i.title}}</h3>
                    <p><b>Price:</b> ${{i.price}}</p>
                    <p>{{i.description}}</p>
                    <p>Posted on {{i.created}}</p>
                </div>
                
            </div>
        </a>
    
        {% endfor %}

    </section>

    <section>

    {% include "auctions/Components/most_selled_cat.html" %}
    {% include "auctions/Components/random_auction.html" %}
    {% include "auctions/Components/most_recent.html" %}


    </section>


{% endblock %}