{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Auctions Site" content="eCommerce">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Auctions{% endblock %}</title>
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <script src="https://kit.fontawesome.com/7eab90d447.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            {% include "auctions/Components/topbar.html" %}
            <hr id="header_hr">
            {% include "auctions/Components/search_bar.html" %}
            {% include "auctions/Components/cat_bar.html" %}

        </header>
        
        <main>


            {% block body %}
            {% endblock %}

            <script src="{% static 'auctions/script.js' %}" defer></script>
            
        </main>

        

    <footer>
        <hr>
        <center>
            <small>Made by Marcos Napolitano - 
            Contact me at <a href="mailto:marcosnapolitano7@gmail.com">marcosnapolitano7@gmail.com</a>
            or visit my webpage <a href="https://marcosnapolitano.github.io">marcosnapolitano.github.io</a>
            </small>
        </center>
    </footer>
    </body>
</html>
