<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="script.js" defer></script>
        <link rel="stylesheet" href="styles1.css">
    </head>
    <body>
        <section aria-label="Active Listings">
            <div class="carousel" data-carousel>
                <button class="button prev" data-carousel-button="prev"><</button>
                <button class="button next" data-carousel-button="next">></button>

                <ul data-slides>
                    <li class="slide" data-prev>A</li>
                    <li class="slide" data-active>B</li>
                    <li class="slide">C</li>
                    <li class="slide">D</li>
                    <li class="slide">F</li>

                </ul>
            </div>
        </section>
    </body>
</html>