*,*::before,*::after{
    box-sizing:border-box
}

.carousel{
    margin: 0 auto;
    width: 60%;
    height: 300px;
    position: relative;
    overflow: hidden
}


.slide{
    list-style-type: none;
    opacity: 0%;
    z-index:1;
    position: absolute;
    inset: 0;
}

.slide:nth-of-type(1){
    background-color:blue;

}
.slide:nth-of-type(2){
    background-color:green;

}
.slide:nth-of-type(3){
    background-color:red;

}

.slide:nth-of-type(4){
    background-color:black;

}
.slide:nth-of-type(5){
    background-color:orange;

}


@keyframes t_right {
    from {transform: translateX(0%);}
    to {transform: translateX(-100%);}
}

@keyframes f_left {
    from {transform: translateX(100%);}
    to {transform: translateX(0%);}
}


li[data-prev]{
    opacity:100%;
    
}

li[data-active]{
    opacity:100%;

}

#current_prev{
    opacity:100%;
    animation: t_right 1s;
    z-index: 0;
    
}

#current{
    opacity:100%;
    z-index: 1;
    animation: f_left 1s;

    
}

#next{
    opacity:100%;
    animation: t_right 1s reverse;
    
}

#an{
    opacity:100%;
    animation: f_left 1s reverse;

    
}



.button{
    position:absolute;
    background: none;
    border: none;
    font-size: 2rem;
    z-index: 2;
    transform: translateY(-50%);
    top: 50%;
    color: rgba(255,255,255,.5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0,0,0,.1);

}

.button:hover,
.button:focus{
    color:white;
    background-color: rgba(0,0,0,.2);

}

.button:focus{
    outline: 1px solid black;
}

.button.prev{
    left: 1rem
}

.button.next{
    right: 1rem
}

